<tr class="userLineInList">
    <td>
        <input id="userName" type="text" value="{{userName}}" placeholder="Username" />
        <input id="userPassword" type="password" placeholder="password" />
    </td>
    <td>
        <select name="role" id="userRole">
            {{#each roles}}
                <option value="{{role}}" selected="{{isSelected}}">{{role}}</option>
            {{/each}}
        </select>
    </td>
    <td>
        {{#each actions}}
            <div class="button" onclick="window.userActions.executeByNr({{id}});" >{{label}}</div>
        {{/each}}
    </td>
</tr>